extends ../layout

block content
  .container.text-center.top-padded
    .span11.service-titles
      .span4
        hr
      .span3.image-rotate
        h2
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
          span Inscripción
          br
      .span4
        hr
    .span11
        .hero-unit
          h1  ¡Pronto!