.blue-caler{
  color:#2C77B8;
}

.centered-text{
  text-align: center;
}

/*.the-calendar{
  position:fixed;
}*/

.left-padded{
  margin-left: 2em;
}

.container{
  .columns-container{
    background-color: #f5f5f5;
    border:1px solid #E3E3E3;
    border-radius: 5px;
    float: none;
    margin: auto;
    min-height: 580px;
    padding: 20px;

    /*.calendarContainer{
      position: fixed;
    }*/

    .course-card{ 
      border-radius: 15px 0px 0px 15px;
      margin-left: 0;
      margin-top: 10px; 
      padding:15px 5px;
      padding-left: 0;
      text-align: left;

      .span5{
        margin-left: 0;
        padding: 0px 15px;

        .course-description{
          font-size: 16px;
        }
      }

      .span2{
        color: #6D2F02;
        margin-left: 0;
        text-align: center;
      }
    }

    .span4{
      margin-left: 0;

      .yui3-skin-sam{
        margin:15px;
        position: fixed;
      }
    }
  }
}


.vertical-centered{
  padding-top: 1em;
}

.white{
  .title{
    color:#FF8C35;
  }
}

.day-preview-header-courseday{
  -webkit-box-shadow: inset 1px 1px 10px 1px #EC6C08, 1px 1px 10px 1px #EC6C08;
  box-shadow: inset 1px 1px 10px 1px #EC6C08, 1px 1px 10px 1px #EC6C08;
}

/*Course dates*/

/*Julio*/
// .d16-m7-y2013
/*Enero*/
.d1-m1-y2014
{
  background-image: url(../../images/calerCirculo.png);
  background-repeat: no-repeat;
  background-position: center 30% ;
  background-size: 40%;
  color: #fff;
}