doctype html
html(lang='en')
  head
    title Caler
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='google', content='notranslate')

    link(href='/stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap/responsive.css', rel='stylesheet')
    link(href='/stylesheets/own/index.css', rel='stylesheet')

    link(rel='stylesheet', type='text/css', href='/stylesheets/own/caler-pitch-demo.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/own/caler-pitch-style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/own/caler-pitch-custom.css')
    link(rel="icon", type="image/png" ,href="/images/iconoCaler.png")

    script(type='text/javascript', src='/javascripts/modernizer/modernizr.custom.79639.js')
    noscript
      link(rel='stylesheet', type='text/css', href='/stylesheets/own/caler-pitch-styleNoJS.css')
    body
      include main-navbar
      .container.demo-1
        #slider.sl-slider-wrapper
          .sl-slider
            .sl-slide.bg-1(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
              .sl-slide-inner
                .deco.mision
                h2 Misión
                blockquote
                  p
                    | Proporcionar de forma personalizada servicios especializados de capacitación, auditorías, asesoría e implementación de sistemas de gestión, a los organismos de evaluación de la conformidad, con el fin de lograr una relación mutuamente beneficiosa, en la que CALER Consultoría sea coparticipe en el logro de sus objetivos.
            .sl-slide.bg-2(data-orientation='vertical', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
              .sl-slide-inner
                .deco.vision
                h2 Visión
                blockquote
                  p Llegar a ser en México y Centro América
                  h1 “Su solución en sistemas de gestión”
            .sl-slide.bg-3(data-orientation='horizontal', data-slice1-rotation='3', data-slice2-rotation='3', data-slice1-scale='2', data-slice2-scale='1')
              .sl-slide-inner
                .deco.values(data-icon='O')
                h2 Valores
                blockquote
                  b Integridad
                  br
                  b Servicio personalizado 
                  br
                  b Competencia técnica 
                  br
                  b Trabajo en equipo
                  br
                  b Mejora continua
                  br
                  br
                  p “Prepárate hoy, actúa mañana, revisa tu resultados y cambia la forma de hacer las cosas”.
            .sl-slide.bg-4(data-orientation='vertical', data-slice1-rotation='-5', data-slice2-rotation='25', data-slice1-scale='2', data-slice2-scale='1')
              .sl-slide-inner
                .deco.logo(data-icon='I')
                h2 Logo
                blockquote
                  p 
          //sl-slider 
          nav#nav-arrows.nav-arrows
            span.nav-arrow-prev Previous
            span.nav-arrow-next Next
          nav#nav-dots.nav-dots
            span.nav-dot-current
            span
            span
            span
        //slider-wrapper
      script(src='/javascripts/jquery/jquery.min.js')
      script(src='/javascripts/bootstrap/bootstrap.js')
      script(src='/javascripts/bootstrap/bootstrap-collapse.js')
      script(src='/javascripts/bootstrap/bootstrap-transition.js')
      script(src='/javascripts/jquery/jquery.ba-cond.min.js')
      script(src='/javascripts/jquery/jquery.slitslider.js')
      script(src='/javascripts/own/caler-pitch-slitSlider.js')
      script(src='/javascripts/own/indexFunctions.js')