extends layout

block custom-scripts  
  script(src='javascripts/own/calendar.js')
block custom-stylesheets
  link(href='/stylesheets/own/shame.css', rel='stylesheet')
  link(href='/stylesheets/own/calendar.css', rel='stylesheet')
  link(href='/stylesheets/own/customCalendar.css', rel='stylesheet')

block content
    
  .container.text-center
    .span11.service-titles
      .span4
        hr
      .span3
        h3
          img(src='/images/iconoCaler.png', alt="Logo",height="35", width="35").pull-left
          span Capacitaciones
          img(src='/images/iconoCaler.png', alt="Logo",height="35", width="35").pull-right
      .span4
        hr

    .span11.columns-container.clearfix
      .span4.calendarWrapper.pull-right.hidden-phone
        include calendar
      - var month = {value: 'julio'};   
      - var courses = [{month: month.value, date:'16 y 17',description:'Formación de auditores internos, bajo la norma ISO 19011:2011 con enfoque en las normas ISO 15189:2007 e ISO/IEC 17025:2005',name: 'Formación de auditores internos',summary:'#'},{month: month.value, date:'18 y 19',description:'Interpretación  de la norma NMX-EC-17025-IMNC-2006 / ISO 17025:2005 para laboratorios de ensayo y calibración.',name: 'Interpretación  de la norma NMX-EC-17025-IMNC-2006 / ISO 17025:2005',summary:'#'}]; 
      
      each course in courses
        include course-card

      - var month = {value: 'agosto'};   
      - var courses = [{ month: month.value, date:'21 y 22',description:'Validación de métodos y control de calidad para laboratorios de calibración y laboratorios de ensayo de pruebas mecánicas y físicas',name: 'Validación de métodos y control de calidad',summary:'#'},{ month: month.value,date:'23 y 24',description:'Estimación de la Incertidumbre de la medición en ensayos, orientado a métodos analíticos',name: 'Estimacíón de la incertidumbre',summary:'#'},{ month: month.value,date:'28 y 29',description:'Taller para el tratamiento de No conformidades, Acciones correctivas y acciones preventivas',name: 'Taller de No conformidades',summary:'#'}]; 

      each course in courses
        include course-card

      - var month = {value: 'septiembre'};   
      - var courses = [{month: month.value,date:'4 y 5',description:'Calibración de instrumentos para pesar de funcionamiento no automático de acuerdo a la guía SIM',name: 'Calibración de instrumentos',summary:'#'},{month: month.value, date:'18 y 19',description:'Curso para la elaboración de manuales y documentos de  sistemas de gestión de la calidad con base en las normas ESO 9001, ISO 15189, ISO 17025',name: 'Elaboración de manuales y documentos',summary:'#'},{month: month.value, date:'20 y 21',description:'Inducción a la norma ISO 9001:2008 “Requisitos para un sistema de gestión de la calidad en una organización”',name: 'Inducción a la norma ISO 9001:2008',summary:'#'},{month: month.value, date:'25 y 26',description:'Formación de auditores internos, bajo la norma ISO 19011:2011 con enfoque en las normas ISO 15189:2007 e ISO/IEC 17025:2005',name: 'Formación de auditores internos',summary:'#'}]; 

      each course in courses
        include course-card

      - var month = {value: 'octubre'};   
      - var courses = [{month: month.value,date:'4 y 5',description:'Validación de métodos y control de calidad orientado a métodos químicos analíticos',name: 'Validación de métodos y control de calidad',summary:'#'},{month: month.value,date:'16 y 17',description:'Sistemas de gestión de la calidad en bancos de sangre, tomando como base la Norma Oficial Mexicana NOM-253-SSA1-2012',name: 'Sistemas de gestión de la calidad en bancos de sangre',summary:'#'},{month: month.value,date:'23 y 24',description:'Interpretación  de la norma NMX-EC-15189-IMNC-2008 / ISO 15189:2012 para laboratorios clínicos y bancos de sangre',name: 'Interpretación  de la norma NMX-EC-15189-IMNC-2008 / ISO 15189:2012',summary:'#'}]; 

      each course in courses
        include course-card

      - var month = {value: 'noviembre'};   
      - var courses = [{month: month.value,date:'6 y 7',description:'Curso de metrología básica',name: 'Curso de metrología básica',summary:'#'},{month: month.value,date:'13 y 14',description:'Sistemas de gestión ambiental ISO 14001',name: 'Sistemas de gestión ambiental ISO 14001',summary:'#'},{month: month.value,date:'20 y 21',description:'Interpretación  de la norma NMX-EC-17025-IMNC-2006 / ISO 17025:2005 para laboratorios de ensayo y calibración',name: 'Interpretación  de la norma NMX-EC-17025-IMNC-2006 / ISO 17025:2005',summary:'#'}]; 

      each course in courses
        include course-card
      - var month = {value: 'diciembre'};   
      - var courses = [{month: month.value,date:'3 y 4',description:'Taller para el tratamiento de No conformidades, Acciones correctivas y acciones preventivas',name: 'Taller para el tratamiento de No conformidades',summary:'#'},{month: month.value,date:'5 y 6',description:'Formación de auditores internos, bajo la norma ISO 19011:2011 con enfoque en las normas ISO 15189:2007 e ISO/IEC 17025:2005',name: 'Formación de auditores internos',summary:'#'}]; 

      each course in courses
        include course-card
      - var month = {value: 'febrero'};   
      - var courses = [{month: month.value,date:'12 y 13',description:'Elaboración de manuales y documentos de sistemas de gestión de la calidad (normas ISO 19001, ISO 15189, ISO 17025',name: 'Elaboración de manuales y documentos de sistemas de gestión de la calidad (normas ISO 19001, ISO 15189, ISO 17025',summary:'#'}, {month: month.value,date:'14 y 15',description:'Estimación de la incertidumbre de la medición en ensayos orientado a métodos analíticos',name: 'Estimación de la incertidumbre de la medición en ensayos orientado a métodos analíticos',summary:'#'}, {month: month.value,date:'18 y 19',description:'Formación de auditores internos, bajo la norma ISO 19011:2011 con enfoque en las normas ISO 17189:2012 e ISO/IEC 17025:2005',name: 'Formación de auditores internos, bajo la norma ISO 19011:2011 con enfoque en las normas ISO 17189:2012 e ISO/IEC 17025:2005',summary:'#'}, {month: month.value,date:'20',description:'Taller de interpretación de políticas de EMA (Incertidumbre, trazabilidad y ensayos de aptitud',name: 'Taller de interpretación de políticas de EMA (Incertidumbre, trazabilidad y ensayos de aptitud',summary:'#'},{month: month.value,date:'26 y 27',description:'Actualización e implementación de la ISO 15189, los retos de la versión 2012',name: 'Actualización e implementación de la ISO 15189, los retos de la versión 2012',summary:'#'}, {month: month.value,date:'28',description:'Documentación de trazabilidad en las mediciones clínicas',name: 'Documentación de trazabilidad en las mediciones clínicas',summary:'#'}];
      

      each course in courses
        include course-card

