extends layout

block custom-scripts  
  script(src='javascripts/own/calendar.js')
block custom-stylesheets
  link(href='/stylesheets/own/shame.css', rel='stylesheet')
  link(href='/stylesheets/own/calendar.css', rel='stylesheet')
  link(href='/stylesheets/own/customCalendar.css', rel='stylesheet')

block content
    
  .container.text-center
    .span11.service-titles
      .span4
        hr
      .span3
        h3
          img(src='/images/iconoCaler.png', alt="Logo",height="35", width="35").pull-left
          span Capacitaciones
          img(src='/images/iconoCaler.png', alt="Logo",height="35", width="35").pull-right
      .span4
        hr

    .span11.columns-container.clearfix
      .span4.calendarWrapper.pull-right.hidden-phone
        include calendar
      - var month = {value: 'julio'};   
      - var courses = [{month: month.value, date:'16 y 17',description:'Formación de auditores internos, bajo la norma ISO 19011:2011 con enfoque en las normas ISO 15189:2007 e ISO/IEC 17025:2005',name: 'Formación de auditores internos',summary:'#'},{month: month.value, date:'18 y 19',description:'Interpretación  de la norma NMX-EC-17025-IMNC-2006 / ISO 17025:2005 para laboratorios de ensayo y calibración.',name: 'Interpretación  de la norma NMX-EC-17025-IMNC-2006 / ISO 17025:2005',summary:'#'}]; 
      
      each course in courses
        include course-card