extends layout

block content
  br
  .container
    .hero-unit
      h1  Contacto
    .hero-unit.text-center
      h1 Contacto
      
    .custom-narrow
      form.well.span10.white
        .row
          .span3
            label Nombre:
            input(type="text", class="span3", placeholder="Nombre", required='required')
            label Correo electr贸nico:
            input(type="text", class="span3", placeholder="correo@correo.com", required='required')
            label Asunto: 
              select.span3(id='asunto', name='asunto',required='required')
                option(value='', selected='')  Escoge uno:
                option('cotizaci贸n')  Cotizaci贸n
                option('informe') Informes
                option('sugerencias') Sugerencia
            label Curso:
            input(type="text", class="span3", placeholder="Nombre del curso a solicitar informaci贸n")

          .span7
            label Mensaje
            textarea(name="message", id="message", class="input-xlarge span7", rows="10")
          button(type="submit", class="btn btn-primary pull-right") Enviar

block custom-scripts
  //for development. We use local scripts
  script(src='javascripts/angular/angular.min.js')
  script(src='javascripts/jquery/jquery.min.js')
  //- for production. We use cdn minified scripts.
      tab back twice to add them to the page and comment 
      or delete the local links
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')