.white.span8.course-card(class = course.month)
  .span6
    h2.title= course.name 
      span#selecteddate
    span.course-description= course.description 
  .span2
    h4= course.date
    hr
    a.btn.btn-info.btn-primary.btn-block(href = '/capacitaciones/cursos#curso' +
      course.id ) 
      |Ver más