footer 
  .container
      .row-fluid
          .span12
            .span1(style='width: 15%;')
              ul.unstyled
                li.header
                  | Inicio
            .span2(style='width: 15%;')
              ul.unstyled
                li.header
                  | ¿Quiénes somos?
                li 
                  a(href= "caler") Misión
            .span2
              ul.unstyled
                li.header
                  | Servicios
                //- li.header Cursos
                //-   ul(style='color:white')
                //-     li
                //-       a(href='cursos/ISO15189') ISO 15189 
                //-     li 
                //-       a(href='cursos/ISO17025') ISO 17025
                //- li.header Asesorías
                //-   ul(style='color:white')
                //-     li
                //-       a(href='asesorias/ISO9001') ISO 9001
                //-     li
                //-       a(href='asesorias/ISO15189') ISO 15189 
                //-     li 
                //-       a(href='asesorias/ISO17025') ISO 17025
                //- li.header Auditorías
                //-   ul(style='color:white')
                //-     li
                //-       a(href='auditorias/ISO15189') ISO 15189 
                //-     li 
                //-       a(href='auditorias/ISO17025') ISO 17025

            .span2(style='width: 15%;')
              ul.unstyled
                li.header
                  | Capacitaciones
                li Inscripción
                li FAQ
            .span2(style='width: 15%;')
              ul.unstyled
                li.header
                  | Contacto
        hr
      .row-fluid
        .span12
          .span8
            a(href='#') Aviso de privacidad 
          .span4
            p.muted.pull-right.header.text-right 2013 CALER
              sup ®
              |.
              br
              | Todos los derechos reservados
        .span12.text-center
          p Eugenio Sue 358, Polanco, Miguel Hidalgo, México D.F., DF
          p Tel. 55-44-33-22  