extends layout

block content
  #full-main
    .container
      include indexGallery
  hr
  .container#prueba
    .span12
      div.span5
        img(src='http://placehold.it/420x130&text=two')
        h2 Cursos
        p.lead  Informacion de los cursos
      div.span5.pull-right
        img(src='http://placehold.it/420x130&text=tree')
        h2 Acreditaciones
        p.lead Información de las acreditaciones

block custom-scripts
  //- for development. We use local scripts
  //- for production. We use cdn minified scripts.
      tab back twice to add them to the page and comment 
      or delete the local links
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')