doctype html
html(lang='es')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='google', content='notranslate')

    block stylesheets
    link(href='/stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap/responsive.css', rel='stylesheet')
    link(href='/stylesheets/own/index.css', rel='stylesheet')
    link(rel="icon", type="image/png" ,href="/images/iconoCaler.png")

    block custom-stylesheets
  body
    include main-navbar

    hr#layoutLine.hidden-phone

    block content

    include footer

    block scripts
      script(src='/javascripts/jquery/jquery.min.js')
      script(src='/javascripts/bootstrap/bootstrap-carousel.js')
      script(src='/javascripts/bootstrap/bootstrap-collapse.js')
      script(src='/javascripts/bootstrap/bootstrap-transition.js')
      script(src='/javascripts/own/indexGallery.js')
      script(src='/javascripts/own/indexFunctions.js')
        
    block custom-scripts