div.navbar.navbar.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      button(class='btn btn-navbar', data-target='.nav-collapse', 
        data-toggle='collapse', type='button')
      a.brand
        img(src='/images/calerNav.png', alt="Logo",width=100)
      .pull-right.slogan-container
        sup 
          sup ┌
        |SU SOLUCIÓN EN
        br
        | &nbsp;&nbsp;SISTEMAS DE GESTIÓN
        sub
          sub ┘
      div.nav-collapse.collapse 
        ul.nav#mainSiteNav
          li.active
            a.activeA(href='index.html') Inicio
          li
            a.activeA(href='caler.html') ¿Quiénes somos?
          li
            a.activeA(href='servicios.html') Servicios
          li
            a.activeA(href='capacitaciones.html') Capacitaciones
          li
            a.activeA(href='contacto.html') Contacto
          //- li.active
          //-   a.activeA(href='/') Inicio
          //- li
          //-   a.activeA(href='/caler.html') ¿Quiénes somos?
          //- li
          //-   a.activeA(href='/servicios.html') Servicios
          //- li
          //-   a.activeA(href='/capacitaciones.html') Capacitaciones
          //- li
          //-   a.activeA(href='/contacto') Contacto