.span12.service-titles
  .span4
    hr
  .span4
    h2
      img(src='/images/iconoCaler.png', alt="Logo").pull-left
      span= service.title
      img(src='/images/iconoCaler.png', alt="Logo").pull-right
  .span4
    hr