.span5.pull-left.service-element-container
  .service-element
      h2 ISO 17025:2005
    ul
      li.service-feature Esta norma especifica los requerimentos generales para la competencia de llevar a cabo pruebas y/o calibraciones, incluyendo el muestreo. Cubre la prueba y calibración realizada utilizando métodos estándar, métodos no-estándar y métodos desarrollados por laboratorios.
      li.service-feature Es aplicable a todas las organizaciones que realizan pruebas y/o calibraciones. Estos incluyen laboratorios, por ejemplo,de primeros, de segundos y de terceros, laboratorios cuyo testeo y/o calibración forma parte de la inspección y certificación de producto. 
      li.service-feature ISO/IEC 17025:2005 es aplicable a todos los laboratorios sin importar el número de personal o su alcance de pruebas y/o muestreo. Cuando un laboratorio no realiza una o más actividades cubiertas por la norma, como el muestreo y/o diseño/desarrollo de nuevos métodos, los requisitos de las claúsulas no aplican.
      li.service-feature ISO/IEC 17025:2005 es para uso de laboratorios en el desarrollo de su sistema de gestión de la calidad. Las autoridades de regulación tambien lo pueden utilizar para confirmar y validar la competencia de los laboratorios.
      li.service-feature
        a.btn.btn-primary.btn-block.btn-plan-select(href=norm.link17025) Ver más

.span5.pull-right.service-element-container
  .service-element
      h2 ISO 15189:2012
    ul
      li.service-feature La norma 15189:2012 especifica los requerimentos para la calidad y la competencia de los laboratorios clínicos.
      li.service-feature La norma 15189:2012 es para que la utilicen los laboratorios clínicos para desarrollar su sistema de gestión de la calidad y evaluar su competencia, y para ser utilizada por los organismos de acreditación cuando confirman o reconocen la competencia de los laboratorios clínicos.
      li.service-feature
        a.btn.btn-primary.btn-block.btn-plan-select(href=norm.link15189) Ver más

if norm.flag == '1'
  .span5.pull-right.service-element-container
      .service-element
          h2 ISO 9001:2008
        ul
          li.service-feature Esta norma especifica los requerimientos para un sistema de gestión de calidad dentro de una organización.
          li.service-feature Dicho sistema de gestión debe demostrar su capacidad y consistencia para proveer prodctos que interactúan directamente con el cliente cumpliendo requerimientos estatutarios y de regulación. 
          li.service-feature Por otro lado propone elevar la satisfacción del cliente a través de la implementación efectiva del mismo, incluye procesos para el mejoramiento contínuo de éste y también asegurar la conformidad del cliente bajo requerimientos estatutarios y de regulación.
          li.service-feature
            a.btn.btn-primary.btn-block.btn-plan-select(href=norm.link9001) Ver más