extends ../layout

block content

  .container.text-center.top-padded
    .span12.service-titles
      .span4
        hr
      .span4.image-rotate
        h2
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Auditorias
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
          br
          span.text-center ISO 17025:2005
      .span4
        hr
    .span12.text-justify
      .span6.text-left.text-justify
        p.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere fermentum neque, vel tristique ipsum commodo quis. Aenean placerat metus vel est accumsan molestie. Praesent ipsum lorem, vestibulum dapibus mattis dignissim, volutpat et lorem. Fusce ac tristique felis. Nam ac consequat libero, at dignissim augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla consectetur a felis adipiscing commodo. Nulla ac iaculis quam, sit amet porta magna. In lobortis mauris non lobortis congue. Nam dictum semper ultricies. Aliquam erat volutpat. Aenean mollis eget dolor vitae lacinia.

          Integer a mi id sem aliquet suscipit. Phasellus quis adipiscing sapien. Nulla id elementum mauris, et cursus turpis. Sed eget pellentesque ligula. Cras euismod luctus justo, in varius dolor. Donec sodales placerat dui, vel gravida ante vulputate non. Sed auctor enim ac est laoreet, eu mattis ligula rutrum. Nunc gravida massa a sodales egestas. Praesent mattis dui eu rutrum vulputate. Phasellus sit amet accumsan velit. Pellentesque consectetur commodo bibendum. Ut posuere fermentum vestibulum. Vestibulum non augue nec turpis placerat congue vitae eget lectus. Fusce eu purus euismod, cursus tortor ac, suscipit nulla.

          Donec feugiat lacus ac lorem feugiat, a egestas mauris dapibus. Aliquam pulvinar pretium enim ut fringilla. Sed pellentesque quis mauris id aliquam. Morbi vitae ullamcorper turpis, eget congue neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Aenean a ligula adipiscing odio convallis consectetur. Vivamus tincidunt sit amet nunc eget imperdiet. Integer varius leo purus. Duis volutpat magna et scelerisque rhoncus. Ut non metus commodo, sagittis tellus at, commodo odio.
      
      .span5.pull-right.service-element-container
        .service-element
          h2 ISO 17025:2005
          ul
            li.service-feature Esta norma especifica los requerimientos para un sistema de gestión de calidad dentro de una organización.
            li.service-feature Dicho sistema de gestión debe demostrar su capacidad y consistencia para proveer prodctos que interactúan directamente con el cliente cumpliendo requerimientos estatutarios y de regulación. 
            li.service-feature Por otro lado propone elevar la satisfacción del cliente a través de la implementación efectiva del mismo, incluye procesos para el mejoramiento contínuo de éste y también asegurar la conformidad del cliente bajo requerimientos estatutarios y de regulación.
            li.service-feature
      .span12.text-justify
        p.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere fermentum neque, vel tristique ipsum commodo quis. Aenean placerat metus vel est accumsan molestie. Praesent ipsum lorem, vestibulum dapibus mattis dignissim, volutpat et lorem. Fusce ac tristique felis. Nam ac consequat libero, at dignissim augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla consectetur a felis adipiscing commodo. Nulla ac iaculis quam, sit amet porta magna. In lobortis mauris non lobortis congue. Nam dictum semper ultricies. Aliquam erat volutpat. Aenean mollis eget dolor vitae lacinia.

          Integer a mi id sem aliquet suscipit. Phasellus quis adipiscing sapien. Nulla id elementum mauris, et cursus turpis. Sed eget pellentesque ligula. Cras euismod luctus justo, in varius dolor. Donec sodales placerat dui, vel gravida ante vulputate non. Sed auctor enim ac est laoreet, eu mattis ligula rutrum. Nunc gravida massa a sodales egestas. Praesent mattis dui eu rutrum vulputate. Phasellus sit amet accumsan velit. Pellentesque consectetur commodo bibendum. Ut posuere fermentum vestibulum. Vestibulum non augue nec turpis placerat congue vitae eget lectus. Fusce eu purus euismod, cursus tortor ac, suscipit nulla.

          Donec feugiat lacus ac lorem feugiat, a egestas mauris dapibus. Aliquam pulvinar pretium enim ut fringilla. Sed pellentesque quis mauris id aliquam. Morbi vitae ullamcorper turpis, eget congue neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Aenean a ligula adipiscing odio convallis consectetur. Vivamus tincidunt sit amet nunc eget imperdiet. Integer varius leo purus. Duis volutpat magna et scelerisque rhoncus. Ut non metus commodo, sagittis tellus at, commodo odio.
